* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif
  rgb(96, 143, 204);
}
header {
  background:rgb(96, 143, 204);
  border: 1px solid rgb(24, 84, 133);
  padding: 20px;
  font-size: 22px;
  text-align: center;
}
h1 {
  color: rgb(255, 255, 255);
}
main {
  display: flex;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 22px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background:rgb(96, 143, 204);

}
.board {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-template-rows: repeat(1, 350px);
  gap: 2px;
  background: #e1e1e1;
  border: 2px solid #ccc;
  padding: 2px;
}
.tile {
  background: #2196f3;
}
